<ul>
<li><a href="/acmeism">Acmeist</a><ul>
<li><a href="/yaml">YAML</a></li>
<li><a href="/jsync">JSYNC</a></li>
<li><a href="/cdent">C'Dent</a></li>
<li><a href="/testml">TestML</a></li>
<li><a href="/stardoc">Stardoc</a></li>
<li><a href="/jemplate">Jemplate</a></li>
<li><a href="/pquery">pQuery</a></li>
</ul>
</li>
<li><a href="/perl">Perl</a><ul>
<li><a href="/inline">Inline</a></li>
<li><a href="/kwiki">Kwiki</a></li>
<li><a href="/io-all">IO::All</a></li>
<li><a href="/yaml-pm">YAML-*</a></li>
</ul>
</li>
<li><a href="/python">Python</a><ul>
<li><a href="/cdent">C'Dent</a></li>
<li><a href="/package">Package</a></li>
<li><a href="/pyplay">PyPlay</a></li>
</ul>
</li>
<li><a href="/javascript">JavaScript</a><ul>
<li><a href="/jemplate">Jemplate</a></li>
<li><a href="/xy">XY</a></li>
</ul>
</li>
<li>Social Software<ul>
<li><a href="/kwiki">Kwiki</a></li>
<li><a href="/xlogger">XLogger</a></li>
<li><a href="/wikiwyg">Wikiwyg</a></li>
<li><a href="/socialtext">Socialtext</a></li>
</ul>
</li>
<li>Web<ul>
<li><a href="/web-sites">Ingy's Web Sites</a></li>
<li><a href="/project-site">Project Site</a></li>
</ul>
</li>
</ul>
